{% extends 'events/layout.html' %}

{% block content %}
	{% if form.errors %}
		<div class="alert alert-danger alert-dismissible fade show alert-flash-gen" role="alert">
			There was an error with your form...
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endif %}
	<div class="container align-items-center">
		<h1>Register</h1>

		<div class="mt-4">
			<form action="{% url 'register_user' %}" method="POST">
				{% csrf_token %}

				{{ form.as_p }}

				<div><input type="submit" value="Register" class="btn btn-primary"></div>
			</form>
		</div>
	</div>
{% endblock %}