{% extends 'events/layout.html' %}

{% block content %}
	{% if user.is_authenticated %}
		<div class="container align-items-center text-center">
			<h1>Add Venue</h1>

			{% if submitted %}
				Your venue was submitted successfully!
			{% else %}
				<div class="mt-4">
					<form action="" method="POST">
						{% csrf_token %}
						{{ form.as_p }}
						<input type="submit" value="Submit" class="btn btn-primary">
					</form>
				</div>
			{% endif %}
		</div>
	{% else %}
		<h1>Sorry! You must be logged in to view this page...</h1>
		<a href="{% url 'login' %}">Login here</a>
	{% endif %}
{% endblock %}